.aui body #search_body {
	font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Helvetica, AppleGothic, Sans-serif;
	-webkit-font-smoothing:antialiased;
}

#search_body .search-form {
    margin-bottom: 25px;
}

.aui #search_body select,
.aui #search_body textarea,
.aui #search_body input[type="text"],
.aui #search_body input[type="password"],
.aui #search_body input[type="datetime"],
.aui #search_body input[type="datetime-local"],
.aui #search_body input[type="date"],
.aui #search_body input[type="month"],
.aui #search_body input[type="time"],
.aui #search_body input[type="week"],
.aui #search_body input[type="number"],
.aui #search_body input[type="email"],
.aui #search_body input[type="url"],
.aui #search_body input[type="search"],
.aui #search_body input[type="tel"],
.aui #search_body input[type="color"],
.aui #search_body .uneditable-input {
    margin-bottom: 0px;
}

.aui #search_body .input-append,
.aui #search_body .input-append .control-group {
    margin-bottom: 0px;
}

.aui #search_body .search-inputbox {
    width: 810px;
    margin: 0 auto 15px auto;
    padding: 13px 0;
    border-bottom: 1px solid #ccc;
}

.aui #search_body .search-inputbox .control-group {
    margin-bottom: 0;
    display: inline-block;
}

.aui #search_body .search-inputbox .control-group .aui-field-select {
    width: 150px;
    margin-right: 15px;
    border: none;
}

.aui #search_body .search-inputbox .control-group .aui-field-select:focus {
    outline: none;
}

.aui #search_body .search-inputbox .input-append input[type="text"] {
    width: 494px;
    border: 0;
    box-shadow: none;
}

.aui #search_body #facetTaggle {
    width: 810px;
    margin: 0 auto;
    position: relative;
}

.aui #search_body #facetTaggle:after {
    content: "";
    display: block;
    clear: both;
}

.aui #search_body #facetTaggle label {
    font-size: 11px;
}

.aui #search_body #facetTaggle .taggle_placeholder {
    display:none;
}

.aui #search_body #facetTaggle .taggle_list .taggle .close {
    top: 8px;
}

.aui #search_body .taggle_list {
    margin: 0;
}

.aui #search_body .taggle_list li {
    margin-bottom: 0;
}

.aui #search_body .taggle_list .taggle_input,
.aui #search_body .active .taggle_list .taggle_input {
    display:none;
}




.aui #search_body .nav-pills.nav-stacked>li {
	margin-bottom:0px;
}

.aui #search_body .nav-pills.nav-stacked>li>a {
	margin:0;
	padding:15px 20px;
	border-radius:0;
	font-size:12px;
	font-weight: 300;
	color:#666;
}

.aui #search_body .nav-pills>.active>a,
.aui #search_body .nav-pills>.active>a:hover,
.aui #search_body .nav-pills>.active>a:focus {
    background-color:#edf1fa;
    border-right:3px solid #327bb9;
}

.aui #search_body .badge {
	margin-left:10px;
}

.aui #search_body .searchValue {
	margin-bottom:15px;
	font-size:18px;
}


.aui #search_body .textLine {
	padding-left:15px;
	margin-right:15px;
	border-right:1px solid #acb1bc;
}

/* Data Search 검색 결과 중 Collection Tabs 영역 */

.aui #search_body .collectionSearchList {
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px dashed #d7dbe6;
	position:relative;
}

.aui #search_body .collectionSearchList:after {
    content: "";
    display: block;
    clear: both;
}

.aui #search_body .collectionSearchList .imgArea {
	float:left;
	width:130px;
	height:100px;
	background-repeat:no-repeat;
	background-size: 100%;
	background-position: top center;
}

.aui #search_body .collectionSearchList .textArea {
	width:860px;
	margin-left:20px;
	float:left;
}

.aui #search_body .collectionSearchList .textArea a.textTitle {
	margin: 0 0 10px 0;
	display:inline-block;
	font-size:18px;
	font-weight:500;
}

.aui #search_body .collectionSearchList .textArea a .textTitleNumber {
	padding-left:5px;
	font-size:16px;
	color:#acb1bc;
}

.aui #search_body .collectionSearchList .textArea .textInfo {
	margin-bottom:3px;
	font-size:13px;
	font-weight:100;
}

.aui #search_body .collectionSearchList .textKeyword {
	position:absolute;
	left:145px;
	bottom:30px;
	font-size:13px;
	font-weight:100;
}

.aui #search_body .collectionSearchList .textKeyword .keywordTitle {
	margin-right:5px;
	padding:3px 8px;
	background-color:#acb1bc;
	font-size:9px;
	font-weight:bold;
	color:#fff;
}

/* // Data Search 검색 결과 중 Collection Tabs 영역 */

/* // Data Search 검색 결과 중 Dataset Tabs 영역 */

.aui #search_body .datasetSearchList {
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px dashed #d7dbe6;
	position:relative;
}

.aui #search_body .datasetSearchList:after {
    content: "";
    display: block;
    clear: both;
}

.aui #search_body .datasetSearchList a.textTitle {
	margin: 0 0 10px 0;
	display:inline-block;
	font-size:18px;
	font-weight:500;
}

.aui #search_body .datasetSearchList a .textTitleNumber {
	padding-left:5px;
	font-size:16px;
	color:#acb1bc;
}

.aui #search_body .datasetSearchList .textArea {
	font-size:13px;
	font-weight:100;
	margin-bottom:8px;
}

.aui #search_body .datasetSearchList .keywordArea {
	font-size:13px;
	font-weight:100;
}

.aui #search_body .datasetSearchList .keywordArea img {
	width:60px;
	height:23px;
	margin-right:5px;
	vertical-align:middle;
}

.aui #search_body .datasetSearchList .keywordArea span {
	vertical-align:middle;
}

.aui #search_body .datasetSearchList .keywordArea .keywordTitle {
	margin-right:5px;
	padding:5px 10px;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	background-color:#30ae7f;
}

/* // Data Search 검색 결과 중 Dataset Tabs 영역 */

.aui #search_body .btn-group>.btn , .aui #search_body .button-holder>.btn {
	color:#666666 !important;
}


@media (max-width: 979px) {
    /* 하단 버튼 */
    .aui #search_body .btn {
        padding: 4px 12px;
        font-size: 14px;
    }
    .aui #search_body textarea,
    .aui #search_body input[type="text"],
    .aui #search_body input[type="password"],
    .aui #search_body input[type="datetime"],
    .aui #search_body input[type="datetime-local"],
    .aui #search_body input[type="date"],
    .aui #search_body input[type="month"],
    .aui #search_body input[type="time"],
    .aui #search_body input[type="week"],
    .aui #search_body input[type="number"],
    .aui #search_body input[type="email"],
    .aui #search_body input[type="url"],
    .aui #search_body input[type="search"],
    .aui #search_body input[type="tel"],
    .aui #search_body input[type="color"],
    .aui #search_body .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .aui #search_body input[type="color"],
    .aui #search_body input[type="date"],
    .aui #search_body input[type="datetime"],
    .aui #search_body input[type="datetime-local"],
    .aui #search_body input[type="email"],
    .aui #search_body input[type="month"],
    .aui #search_body input[type="number"],
    .aui #search_body input[type="password"],
    .aui #search_body input[type="search"],
    .aui #search_body input[type="tel"],
    .aui #search_body input[type="text"],
    .aui #search_body input[type="time"],
    .aui #search_body input[type="url"],
    .aui #search_body input[type="week"],
    .aui #search_body select,
    .aui #search_body textarea,
    .aui #search_body .input-prepend .add-on,
    .aui #search_body .navbar-search .search-query,
    .aui #search_body .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}


/* 미디어 쿼리 작은 사이즈 컨트롤 */

@media (max-width: 767px) and (max-width: 979px) {
    .aui #search_body .button-holder {
        width: auto;
    }
    .aui .btn-group>.btn+.btn {
        margin-left: -1px;
    }
    /* 하단 버튼 */
    .aui #search_body .btn {
        width: 130px;
        margin-top: 0px;
        padding: 4px 12px;
        display: inline-block;
        font-size: 14px;
    }
    .aui #search_body textarea,
    .aui #search_body input[type="text"],
    .aui #search_body input[type="password"],
    .aui #search_body input[type="datetime"],
    .aui #search_body input[type="datetime-local"],
    .aui #search_body input[type="date"],
    .aui #search_body input[type="month"],
    .aui #search_body input[type="time"],
    .aui #search_body input[type="week"],
    .aui #search_body input[type="number"],
    .aui #search_body input[type="email"],
    .aui #search_body input[type="url"],
    .aui #search_body input[type="search"],
    .aui #search_body input[type="tel"],
    .aui #search_body input[type="color"],
    .aui #search_body .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    
    .aui #search_body .row-fluid .span2 {
    	width:14.89362%;
    	float:left;
    }
    .aui #search_body .row-fluid .span10 {
    	width:82.97872%;
    	margin-left:2.12766%;
    	float:left;
    }
}
















