/* collectionPopup.jsp용 */

/* Popup 기본 데이터 테이블 리스트 */
.listPopupArea {
    padding:14px;
}
.aui #sdr_popup .listPopupArea table.table-bordered {
    border: 0;
}
.aui #sdr_popup .listPopupArea table {
    border-top:2px solid #327bb9;
    border-right:0;
    border-left: 0;
    border-bottom: 1px solid #dddddd;
    width:100%;
}
.aui #sdr_popup .listPopupArea table thead tr th, .aui #sdr_popup .listPopupArea table tbody tr th, .aui #sdr_popup .listPopupArea table tbody tr td {
    border-right:1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding:10px 12px;
    vertical-align: middle;
}
.aui #sdr_popup .listPopupArea table thead tr th, .aui #sdr_popup .listPopupArea table tbody tr th {
    background : #f9f9f9;
    font-weight:bold;
    text-align:center;
}
.aui #sdr_popup .listPopupArea table thead tr th {
    border-top:0;
}
.aui #sdr_popup .listPopupArea table tbody tr td {
    background-color:#fff;
    border-top: 0;
}
.aui #sdr_popup .listPopupArea table tbody tr td.text-top {
    vertical-align: top;
}
.aui #sdr_popup .listPopupArea table tbody tr td.text-center {
    text-align: center;
}
.aui #sdr_popup .listPopupArea table tbody tr td p {
    margin: 0;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 50px; /* Fallback for non-webkit */
    font-size: 12px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.aui #sdr_popup .listPopupArea table tbody tr:hover td {
    background-color:#f9f9f9;
}
.aui #sdr_popup .listPopupArea table tbody tr th, .aui #sdr_popup .listPopupArea table tbody tr td {
    border-left:0;
}
.aui #sdr_popup .listPopupArea table thead tr th:last-child, .aui #sdr_popup .listPopupArea table tbody tr td:last-child {
    border-right:0;
}


/*CollectionPopup 리스트 전용*/
/*.collectionPopupLIst table {*/
    /*table-layout: fixed;*/
/*}*/
/*.collectionPopupLIst table thead tr th:first-child, .collectionPopupLIst table thead tr th:first-child {*/
    /*width: 10%;*/
/*}*/
/*.collectionPopupLIst table thead tr th:nth-child(2), .collectionPopupLIst table thead tr th:nth-child(3) {*/
    /*width: 40%;*/
/*}*/
/*.collectionPopupLIst table tbody tr td:nth-child(2), .collectionPopupLIst table tbody tr td:nth-child(3) {*/
    /*width: 40%;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
/*}*/





/* 좌측 타이틀 라벨 */
.aui #sdr_popup label.control-label {
    width: 15%;
    padding: 5px 15px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: right;
}


/* 기본 인풋 박스 사이징  ,  width 70% 넘으면 경고문구가 하단으로 떨어지는 문제가 있으니 width 70%(854px)는 넘지 않도록 사용 */
.aui #sdr_popup textarea,
.aui #sdr_popup input[type="text"],
.aui #sdr_popup input[type="password"],
.aui #sdr_popup input[type="datetime"],
.aui #sdr_popup input[type="datetime-local"],
.aui #sdr_popup input[type="date"],
.aui #sdr_popup input[type="month"],
.aui #sdr_popup input[type="time"],
.aui #sdr_popup input[type="week"],
.aui #sdr_popup input[type="number"],
.aui #sdr_popup input[type="email"],
.aui #sdr_popup input[type="url"],
.aui #sdr_popup input[type="search"],
.aui #sdr_popup input[type="tel"],
.aui #sdr_popup input[type="color"],
.aui #sdr_popup .uneditable-input {
    width: 60%;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.aui #sdr_popup input[type="color"],
.aui #sdr_popup input[type="date"],
.aui #sdr_popup input[type="datetime"],
.aui #sdr_popup input[type="datetime-local"],
.aui #sdr_popup input[type="email"],
.aui #sdr_popup input[type="month"],
.aui #sdr_popup input[type="number"],
.aui #sdr_popup input[type="password"],
.aui #sdr_popup input[type="search"],
.aui #sdr_popup input[type="tel"],
.aui #sdr_popup input[type="text"],
.aui #sdr_popup input[type="time"],
.aui #sdr_popup input[type="url"],
.aui #sdr_popup input[type="week"],
.aui #sdr_popup select,
.aui #sdr_popup textarea,
.aui #sdr_popup .input-prepend .add-on,
.aui #sdr_popup .navbar-search .search-query,
.aui #sdr_popup .uneditable-input {
    margin-bottom: 0px;
}

.aui #sdr_popup .input-append,
.aui #sdr_popup .input-prepend {
    width: 60%;
    margin-bottom: 0px;
}

.aui #sdr_popup .input-append .control-group {
    width: 489px;
    margin-bottom: 0px;
    display: inline-block;
}

.aui #sdr_popup .input-append input[type="text"] {
    width: 100%;
}

.aui #sdr_popup .help-inline {
    padding-top: 7px;
    vertical-align: top;
}

#sdr_popup .tagselector {
    width: 70%;
    display: inline-block;
}

.aui #sdr_popup ul.unstyled {
    width: 430px;
    margin-bottom: 0px;
    display: inline-block;
}

#sdr_popup .lfr-tags-selector-content .toolbar {
    margin-left: -1px;
    display: inline-block;
    vertical-align: top;
}

#sdr_popup .tagselector-content {
    margin-bottom: 0px;
}

#sdr_popup .textboxlistentry,
.textboxlistentry-close {
    font-size: 10px;
}

#sdr_popup .textboxlist-input-container input {
    margin-top: 0px;
}

#sdr_popup .tagselector-content .textboxlistentry-holder .lfr-tag-selector-input {
    font-size: 12px;
    height: 25px;
}

#sdr_popup .tagselector-content .textboxlistentry-holder {
    padding: 3px 3px 0px 3px;
}

#sdr_popup .textboxlistentry {
    padding: 4px 11px;
}








/* 버튼 컨트롤 CSS */
#sdr_popup .btn-right {
	float:right;
	margin-left:4px;
}












/* 테이블 컨트롤 CSS */
.aui #sdr_popup .table thead th {
	text-align:center;
}

.aui #sdr_popup .table tbody td {
	padding: 6px 12px;
}

.aui #sdr_popup .table tbody td:first-child {
	text-align:center;
}

.aui #sdr_popup .table tbody td:last-child {
	text-align:center;
}

.taglib-page-iterator .lfr-pagination-config , .taglib-page-iterator .search-results {
	line-height:30px;
}

.aui #sdr_popup .btn-group>.btn {
	font-size:12px;
}

.aui #sdr_popup .table .control-group {
	margin-bottom:0px;
}

/* 미디어 쿼리 중간 사이즈 컨트롤 */

@media (max-width: 979px) {
    /* 하단 버튼 */
    .aui #sdr_popup .btn {
        padding: 4px 12px;
        font-size: 14px;
    }
    .aui #sdr_popup .btn-mini {
        padding: 0px 6px;
        font-size: 10.5px;
    }
    .aui #sdr_popup textarea,
    .aui #sdr_popup input[type="text"],
    .aui #sdr_popup input[type="password"],
    .aui #sdr_popup input[type="datetime"],
    .aui #sdr_popup input[type="datetime-local"],
    .aui #sdr_popup input[type="date"],
    .aui #sdr_popup input[type="month"],
    .aui #sdr_popup input[type="time"],
    .aui #sdr_popup input[type="week"],
    .aui #sdr_popup input[type="number"],
    .aui #sdr_popup input[type="email"],
    .aui #sdr_popup input[type="url"],
    .aui #sdr_popup input[type="search"],
    .aui #sdr_popup input[type="tel"],
    .aui #sdr_popup input[type="color"],
    .aui #sdr_popup .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .aui #sdr_popup input[type="color"],
    .aui #sdr_popup input[type="date"],
    .aui #sdr_popup input[type="datetime"],
    .aui #sdr_popup input[type="datetime-local"],
    .aui #sdr_popup input[type="email"],
    .aui #sdr_popup input[type="month"],
    .aui #sdr_popup input[type="number"],
    .aui #sdr_popup input[type="password"],
    .aui #sdr_popup input[type="search"],
    .aui #sdr_popup input[type="tel"],
    .aui #sdr_popup input[type="text"],
    .aui #sdr_popup input[type="time"],
    .aui #sdr_popup input[type="url"],
    .aui #sdr_popup input[type="week"],
    .aui #sdr_popup select,
    .aui #sdr_popup textarea,
    .aui #sdr_popup .input-prepend .add-on,
    .aui #sdr_popup .navbar-search .search-query,
    .aui #sdr_popup .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}


/* 미디어 쿼리 작 사이즈 컨트롤 */

@media (max-width: 767px) and (max-width: 979px) {
    .aui #sdr_popup .button-holder {
        width: auto;
    }
    .aui .btn-group>.btn+.btn {
        margin-left: -1px;
    }
    /* 하단 버튼 */
    .aui #sdr_popup .btn {
        width: auto;
        margin-top: 0px;
        padding: 4px 12px;
        display: inline-block;
        font-size: 14px;
    }
    .aui #sdr_popup textarea,
    .aui #sdr_popup input[type="text"],
    .aui #sdr_popup input[type="password"],
    .aui #sdr_popup input[type="datetime"],
    .aui #sdr_popup input[type="datetime-local"],
    .aui #sdr_popup input[type="date"],
    .aui #sdr_popup input[type="month"],
    .aui #sdr_popup input[type="time"],
    .aui #sdr_popup input[type="week"],
    .aui #sdr_popup input[type="number"],
    .aui #sdr_popup input[type="email"],
    .aui #sdr_popup input[type="url"],
    .aui #sdr_popup input[type="search"],
    .aui #sdr_popup input[type="tel"],
    .aui #sdr_popup input[type="color"],
    .aui #sdr_popup .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}