/* collectionPopup.jsp용 */

/* 좌측 타이틀 라벨 */
.aui #sdr_popup label.control-label {
    width: 15%;
    padding: 5px 15px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: right;
}


/* 기본 인풋 박스 사이징  ,  width 70% 넘으면 경고문구가 하단으로 떨어지는 문제가 있으니 width 70%(854px)는 넘지 않도록 사용 */
.aui #sdr_popup textarea,
.aui #sdr_popup input[type="text"],
.aui #sdr_popup input[type="password"],
.aui #sdr_popup input[type="datetime"],
.aui #sdr_popup input[type="datetime-local"],
.aui #sdr_popup input[type="date"],
.aui #sdr_popup input[type="month"],
.aui #sdr_popup input[type="time"],
.aui #sdr_popup input[type="week"],
.aui #sdr_popup input[type="number"],
.aui #sdr_popup input[type="email"],
.aui #sdr_popup input[type="url"],
.aui #sdr_popup input[type="search"],
.aui #sdr_popup input[type="tel"],
.aui #sdr_popup input[type="color"],
.aui #sdr_popup .uneditable-input {
    width: 60%;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.aui #sdr_popup input[type="color"],
.aui #sdr_popup input[type="date"],
.aui #sdr_popup input[type="datetime"],
.aui #sdr_popup input[type="datetime-local"],
.aui #sdr_popup input[type="email"],
.aui #sdr_popup input[type="month"],
.aui #sdr_popup input[type="number"],
.aui #sdr_popup input[type="password"],
.aui #sdr_popup input[type="search"],
.aui #sdr_popup input[type="tel"],
.aui #sdr_popup input[type="text"],
.aui #sdr_popup input[type="time"],
.aui #sdr_popup input[type="url"],
.aui #sdr_popup input[type="week"],
.aui #sdr_popup select,
.aui #sdr_popup textarea,
.aui #sdr_popup .input-prepend .add-on,
.aui #sdr_popup .navbar-search .search-query,
.aui #sdr_popup .uneditable-input {
    margin-bottom: 0px;
}

.aui #sdr_popup .input-append,
.aui #sdr_popup .input-prepend {
    width: 60%;
    margin-bottom: 0px;
}

.aui #sdr_popup .input-append .control-group {
    width: 489px;
    margin-bottom: 0px;
    display: inline-block;
}

.aui #sdr_popup .input-append input[type="text"] {
    width: 100%;
}

.aui #sdr_popup .help-inline {
    padding-top: 7px;
    vertical-align: top;
}

#sdr_popup .tagselector {
    width: 70%;
    display: inline-block;
}

.aui #sdr_popup ul.unstyled {
    width: 430px;
    margin-bottom: 0px;
    display: inline-block;
}

#sdr_popup .lfr-tags-selector-content .toolbar {
    margin-left: -1px;
    display: inline-block;
    vertical-align: top;
}

#sdr_popup .tagselector-content {
    margin-bottom: 0px;
}

#sdr_popup .textboxlistentry,
.textboxlistentry-close {
    font-size: 10px;
}

#sdr_popup .textboxlist-input-container input {
    margin-top: 0px;
}

#sdr_popup .tagselector-content .textboxlistentry-holder .lfr-tag-selector-input {
    font-size: 12px;
    height: 25px;
}

#sdr_popup .tagselector-content .textboxlistentry-holder {
    padding: 3px 3px 0px 3px;
}

#sdr_popup .textboxlistentry {
    padding: 4px 11px;
}








/* 버튼 컨트롤 CSS */
#sdr_popup .btn-right {
	float:right;
	margin-left:4px;
}












/* 테이블 컨트롤 CSS */
.aui #sdr_popup .table thead th {
	text-align:center;
}

.aui #sdr_popup .table tbody td {
	padding: 6px 12px;
}

.aui #sdr_popup .table tbody td:first-child {
	text-align:center;
}

.aui #sdr_popup .table tbody td:last-child {
	text-align:center;
}

.taglib-page-iterator .lfr-pagination-config , .taglib-page-iterator .search-results {
	line-height:30px;
}

.aui #sdr_popup .btn-group>.btn {
	font-size:12px;
}

.aui #sdr_popup .table .control-group {
	margin-bottom:0px;
}

/* 미디어 쿼리 중간 사이즈 컨트롤 */

@media (max-width: 979px) {
    /* 하단 버튼 */
    .aui #sdr_popup .btn {
        padding: 4px 12px;
        font-size: 14px;
    }
    .aui #sdr_popup textarea,
    .aui #sdr_popup input[type="text"],
    .aui #sdr_popup input[type="password"],
    .aui #sdr_popup input[type="datetime"],
    .aui #sdr_popup input[type="datetime-local"],
    .aui #sdr_popup input[type="date"],
    .aui #sdr_popup input[type="month"],
    .aui #sdr_popup input[type="time"],
    .aui #sdr_popup input[type="week"],
    .aui #sdr_popup input[type="number"],
    .aui #sdr_popup input[type="email"],
    .aui #sdr_popup input[type="url"],
    .aui #sdr_popup input[type="search"],
    .aui #sdr_popup input[type="tel"],
    .aui #sdr_popup input[type="color"],
    .aui #sdr_popup .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .aui #sdr_popup input[type="color"],
    .aui #sdr_popup input[type="date"],
    .aui #sdr_popup input[type="datetime"],
    .aui #sdr_popup input[type="datetime-local"],
    .aui #sdr_popup input[type="email"],
    .aui #sdr_popup input[type="month"],
    .aui #sdr_popup input[type="number"],
    .aui #sdr_popup input[type="password"],
    .aui #sdr_popup input[type="search"],
    .aui #sdr_popup input[type="tel"],
    .aui #sdr_popup input[type="text"],
    .aui #sdr_popup input[type="time"],
    .aui #sdr_popup input[type="url"],
    .aui #sdr_popup input[type="week"],
    .aui #sdr_popup select,
    .aui #sdr_popup textarea,
    .aui #sdr_popup .input-prepend .add-on,
    .aui #sdr_popup .navbar-search .search-query,
    .aui #sdr_popup .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}


/* 미디어 쿼리 작 사이즈 컨트롤 */

@media (max-width: 767px) and (max-width: 979px) {
    .aui #sdr_popup .button-holder {
        width: auto;
    }
    .aui .btn-group>.btn+.btn {
        margin-left: -1px;
    }
    /* 하단 버튼 */
    .aui #sdr_popup .btn {
        width: auto;
        margin-top: 0px;
        padding: 4px 12px;
        display: inline-block;
        font-size: 14px;
    }
    .aui #sdr_popup textarea,
    .aui #sdr_popup input[type="text"],
    .aui #sdr_popup input[type="password"],
    .aui #sdr_popup input[type="datetime"],
    .aui #sdr_popup input[type="datetime-local"],
    .aui #sdr_popup input[type="date"],
    .aui #sdr_popup input[type="month"],
    .aui #sdr_popup input[type="time"],
    .aui #sdr_popup input[type="week"],
    .aui #sdr_popup input[type="number"],
    .aui #sdr_popup input[type="email"],
    .aui #sdr_popup input[type="url"],
    .aui #sdr_popup input[type="search"],
    .aui #sdr_popup input[type="tel"],
    .aui #sdr_popup input[type="color"],
    .aui #sdr_popup .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}