/* view.jsp용 */

/* 좌측 타이틀 라벨 */
.aui #sdr_content label.control-label {
    width: 15%;
    padding: 5px 15px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: right;
}


/* 기본 인풋 박스 사이징  ,  width 70% 넘으면 경고문구가 하단으로 떨어지는 문제가 있으니 width 70%(854px)는 넘지 않도록 사용 */
.aui #sdr_content textarea,
.aui #sdr_content input[type="text"],
.aui #sdr_content input[type="password"],
.aui #sdr_content input[type="datetime"],
.aui #sdr_content input[type="datetime-local"],
.aui #sdr_content input[type="date"],
.aui #sdr_content input[type="month"],
.aui #sdr_content input[type="time"],
.aui #sdr_content input[type="week"],
.aui #sdr_content input[type="number"],
.aui #sdr_content input[type="email"],
.aui #sdr_content input[type="url"],
.aui #sdr_content input[type="search"],
.aui #sdr_content input[type="tel"],
.aui #sdr_content input[type="color"],
.aui #sdr_content .uneditable-input {
    width: 70%;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.aui #sdr_content input[type="color"],
.aui #sdr_content input[type="date"],
.aui #sdr_content input[type="datetime"],
.aui #sdr_content input[type="datetime-local"],
.aui #sdr_content input[type="email"],
.aui #sdr_content input[type="month"],
.aui #sdr_content input[type="number"],
.aui #sdr_content input[type="password"],
.aui #sdr_content input[type="search"],
.aui #sdr_content input[type="tel"],
.aui #sdr_content input[type="text"],
.aui #sdr_content input[type="time"],
.aui #sdr_content input[type="url"],
.aui #sdr_content input[type="week"],
.aui #sdr_content select,
.aui #sdr_content textarea,
.aui #sdr_content .input-prepend .add-on,
.aui #sdr_content .navbar-search .search-query,
.aui #sdr_content .uneditable-input {
    margin-bottom: 0px;
}

.aui #sdr_content .input-append,
.aui #sdr_content .input-prepend {
    width: 70%;
    margin-bottom: 0px;
}

.aui #sdr_content .input-append .control-group {
    width: 774px;
    margin-bottom: 0px;
    display: inline-block;
}

.aui #sdr_content .input-append input[type="text"] {
    width: 100%;
}

.aui #sdr_content .help-inline {
    padding-top: 7px;
    vertical-align: top;
}

#sdr_content .tagselector {
    width: 70%;
    display: inline-block;
}

.aui #sdr_content ul.unstyled {
    width: 696px;
    margin-bottom: 0px;
    display: inline-block;
}

#sdr_content .lfr-tags-selector-content .toolbar {
    margin-left: -1px;
    display: inline-block;
    vertical-align: top;
}

#sdr_content .tagselector-content {
    margin-bottom: 0px;
}

#sdr_content .textboxlistentry,
.textboxlistentry-close {
    font-size: 10px;
}

#sdr_content .textboxlist-input-container input {
    margin-top: 0px;
}

#sdr_content .tagselector-content .textboxlistentry-holder .lfr-tag-selector-input {
    font-size: 12px;
    height: 25px;
}

#sdr_content .tagselector-content .textboxlistentry-holder {
    padding: 3px 3px 0px 3px;
}

#sdr_content .textboxlistentry {
    padding: 4px 11px;
}

/*공통 radio버튼 컨트롤*/
#sdr_content .radio {
    margin-right: 15px;
    padding: 5px 0 0 20px;
    display: inline-block;
    font-size: 12px;
}










/* 버튼 컨트롤 css */
#sdr_content .btn-right {
	float:right;
	margin-left:4px;
}












/* 미디어 쿼리 중간 사이즈 컨트롤 */

@media (max-width: 979px) {
    /* 하단 버튼 */
    .aui #sdr_content .btn {
        padding: 4px 12px;
        font-size: 14px;
    }
    .aui #sdr_content textarea,
    .aui #sdr_content input[type="text"],
    .aui #sdr_content input[type="password"],
    .aui #sdr_content input[type="datetime"],
    .aui #sdr_content input[type="datetime-local"],
    .aui #sdr_content input[type="date"],
    .aui #sdr_content input[type="month"],
    .aui #sdr_content input[type="time"],
    .aui #sdr_content input[type="week"],
    .aui #sdr_content input[type="number"],
    .aui #sdr_content input[type="email"],
    .aui #sdr_content input[type="url"],
    .aui #sdr_content input[type="search"],
    .aui #sdr_content input[type="tel"],
    .aui #sdr_content input[type="color"],
    .aui #sdr_content .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
    .aui #sdr_content input[type="color"],
    .aui #sdr_content input[type="date"],
    .aui #sdr_content input[type="datetime"],
    .aui #sdr_content input[type="datetime-local"],
    .aui #sdr_content input[type="email"],
    .aui #sdr_content input[type="month"],
    .aui #sdr_content input[type="number"],
    .aui #sdr_content input[type="password"],
    .aui #sdr_content input[type="search"],
    .aui #sdr_content input[type="tel"],
    .aui #sdr_content input[type="text"],
    .aui #sdr_content input[type="time"],
    .aui #sdr_content input[type="url"],
    .aui #sdr_content input[type="week"],
    .aui #sdr_content select,
    .aui #sdr_content textarea,
    .aui #sdr_content .input-prepend .add-on,
    .aui #sdr_content .navbar-search .search-query,
    .aui #sdr_content .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}


/* 미디어 쿼리 작은 사이즈 컨트롤 */

@media (max-width: 767px) and (max-width: 979px) {
    .aui #sdr_content .button-holder {
        width: auto;
    }
    .aui .btn-group>.btn+.btn {
        margin-left: -1px;
    }
    /* 하단 버튼 */
    .aui #sdr_content .btn {
        width: auto;
        margin-top: 0px;
        padding: 4px 12px;
        display: inline-block;
        font-size: 14px;
    }
    .aui #sdr_content textarea,
    .aui #sdr_content input[type="text"],
    .aui #sdr_content input[type="password"],
    .aui #sdr_content input[type="datetime"],
    .aui #sdr_content input[type="datetime-local"],
    .aui #sdr_content input[type="date"],
    .aui #sdr_content input[type="month"],
    .aui #sdr_content input[type="time"],
    .aui #sdr_content input[type="week"],
    .aui #sdr_content input[type="number"],
    .aui #sdr_content input[type="email"],
    .aui #sdr_content input[type="url"],
    .aui #sdr_content input[type="search"],
    .aui #sdr_content input[type="tel"],
    .aui #sdr_content input[type="color"],
    .aui #sdr_content .uneditable-input {
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}