#dataset-board {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    float: right;
}

#dataset-board:after {
    content: "";
    display: block;
    clear: both;
}

#dataset-list-board {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#dataset-list-board > table {
    border-top: 2px solid #465ea5;
    border-bottom: 1px solid #becbea;
    margin-bottom: 0;
}

#dataset-list-board > table > tbody > tr > td {
    padding: 9px 8px;
    border-top: 0px;
    font-size: 12px;
}

#dataset-list-board > table > tbody > tr > td > a {
    max-height: 90%;
    display: block;
    display: -webkit-box;
    height: 15px;
    line-height: 15px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dataset-list-board > table > tbody > tr > td:last-child {
    text-align: center;
}
